body {
    margin:0;
    padding:0;
    background-color: #FFF;
}

#head_pic {
	height:0;
	width:80%;
    margin:0 auto;
    overflow: hidden;
    padding-bottom: 40%;
}
#say_hello {
    width:100%;
    z-index: 20;
}
.icon img{
    width:20%;
}
#contact{
    width:40%;
    margin:0 auto;
    padding-top: 2%;
}
#contact ul{
    list-style:none;
    margin:0;
    padding:0;
    display:inline;
}
#contact li{
    margin-right:2%;
    display:inline;
}
#contact a:hover {
	opacity: 0.6;
}