.wrapper{
		top:100px;
		left: 100px;
		list-style:none;
		left:100px;
		position:absolute;
		width:600px;
		height:600px;
	}
	
	.wrap{
		position:absolute;
	}
		.warp.center {
			width:400px;
			height:400px;
		}
		.wrap.image{
			width:80px;
			height:80px;
			border-radius:50px;
		}

.wrap {
	-webkit-transition: -webkit-transform 2s ease-out;
	-moz-transition: -moz-transform 2s ease-out;
	-o-transition: -o-transform 2s ease-out;
	-ms-transition: -ms-transform 2s ease-out;
	z-index:60;
}
.wrap:hover {
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
	-o-transform: rotateZ(360deg);
	-ms-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
@-moz-keyframes spin /* Firefox */
{
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-webkit-keyframes spin /* Safari 和 Chrome */
{
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-o-keyframes spin /* Opera */
{
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.wrap.center{
	animation: spin 5s linear 2s infinite normal;
/* Firefox: */
-moz-animation: spin 5s linear 2s infinite normal;
/* Safari 和 Chrome: */
-webkit-animation: spin 5s linear 2s infinite normal;
/* Opera: */
-o-animation: spin 5s linear 2s infinite normal;
	}