#colourful {
	width: 400px;
	height: 400px;
	background: no-repeat url("src/img/earth.png") center;
	-webkit-background-size: 400px 400px;
	-moz-background-size: 400px 400px;
	background-size: 400px 400px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
	-webkit-transition: -webkit-transform 2s ease-out;
	-moz-transition: -moz-transform 2s ease-out;
	-o-transition: -o-transform 2s ease-out;
	-ms-transition: -ms-transform 2s ease-out;
}
#colourful:hover {
	-webkit-transform: rotateZ(90deg);
	-moz-transform: rotateZ(90deg);
	-o-transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}