#wechatinfo {
	position:relative;
	text-align:center;
	display:inline;
	float: left;
	top:120px;
	left:110px;
}
#Profile {
	outline-style: double;
	outline-color: black;
	outline-width: 5px; 
}
.name {
	color: #b56523;
}
.name a {
	text-decoration: none;
	color: #F39C12;
}
.name a:hover {
	text-decoration: none;
	color: #96E443;
}
#xcode {
	position:relative;
	float:right;
	text-align:center;
	right: 150px;
}
#xpic {
	margin-top: 20px;
	border:1em solid black;
}