#wechatinfo {
	width:35%;
	float: left;
	padding-top:14%;
	padding-left:11%;
	text-align: center;
}
#Profile {
	border:2px solid #fff;
	box-shadow: 0 0 9px #ccc;
	border-radius: 5px; 
}
.name {
	color: #b56523;
}
.name a {
	text-decoration: none;
	color: #F39C12;
}
.name a:hover {
	text-decoration: none;
	color: #96E443;
}
#xcode {
	width:35%;
	float: left;
	padding-top:2%;
	padding-left:11%;
	text-align: center;
}
#xpic {
	margin-top: 20px;
	border:1em solid black;
}

@media screen and (max-width: 800px) {
    #wechatinfo, #xcode {
    	float:clear;
        width: 80%;
        margin: 2% auto;        
    }
    #wechatinfo {
    	padding-top: 0;
    }
    #xcode {
    	
    }
}