body{
    font: 14px/24px "Microsoft YaHei","Arial",sans-serif;
    background:#E9EAEB;
    color: #222222;
    margin:0;
    padding:0;
}
#fl,#fr {
    display:inline;
}
#fl {
	margin-top: 10px;
    float:left;
}
#fr {
    float:right;
}
#header {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #525255;
}
#headBox {
	background-color: #525255;
}
#fr a {
	color: #EBEBEB;
	font-size: 18px;
	line-height: 60px;
	display: inline-block;
	margin-left: 2em;
	text-decoration: none;
}
#fr a:hover {
	text-decoration: none;
	color: #96E443;
}
#content {
	width: 960px;
	position:relative;
	margin: 0 auto;
	overflow: hidden;
}
#wechatinfo {
	position:relative;
	text-align:center;
	display:inline;
	float: left;
	top:120px;
	left:110px;
}
.name a {
	text-decoration: none;
	color: #525255;
}
.name a:hover {
	text-decoration: none;
	color: #96E443;
}
#xcode {
	position:relative;
	float:right;
	text-align:center;
	right: 150px;
}
#xpic {
	margin-top: 20px;
	border:1em solid black;
}
